# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://usuario:password@host:5432/postgres"
DIRECT_URL="postgresql://usuario:password@host:5432/postgres"

# Auth
JWT_SECRET="change_me_super_secret_key_min_16_chars"
JWT_EXPIRES_IN="7d"

# CORS
FRONTEND_URL="*"
